.entrega-detalle-container{
    background: rgb(127, 167, 219);
    background: linear-gradient(313deg, rgba(127, 167, 219, 1) 0%, rgba(26, 32, 53, 1) 100%);
    min-height: 70vh; 
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container-box-entrega-detalle {
    display: flex;
    flex-direction: row;
    width: 100%; 

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-entrega-detalle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: solid #1a2035;
    border-radius: 0.6rem;
    padding: 4rem 2rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.nombre-entrega-detalle {
    color: #1A2035; /* Color del header */
    font-size: 1.8rem;
}

.entrega-asociada-nombre{
    margin-bottom: 2rem
}

.descripcion-entrega-nombre{
    margin-bottom: 1rem;
    color: #1a2035
}

.descripcion-entrega-detalle {
    font-size: 1.2rem;
    color: #193B70; /* Color de algunos subtítulos */
}

.fechas-entrega-detalle {
    font-size: 1.09rem;
}

.fechas-entrega {
    font-weight: bold;
    color: #193B70; /* Color de algunos subtítulos */
}

.btn-entrega-detalle-entregar {
    background-color: #1A2035;
    color: #fff;
    width: 6.9rem;
    height: 3.1rem;
    font-size: 1.4rem;
    border: 0.2rem solid #F2F6FC;
    border-radius: 0.5rem;
}

.dialog-agregar-entrega-detalle .p-dialog-header {
    justify-self: center;
    text-align: center;
}

/* ESTILOS ENTREGA DETALLE DOCENTE */
.table-header-entrega-docente {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fechas-entrega-docente-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.09rem;
}

.fecha2-entrega-docente {
    margin-left: 2rem;
}

.detalle-entrega-docente {
    width: 100%;
    margin: 0 auto;
}

.p-datatable-table .p-datatable-thead > tr > th {
    background-color: #344474; /* Color de la fila de filtros */
    color: #fff;
}

.p-datatable .p-sortable-column-icon {
    color: #fff;
}

.custom-upload-btn {
    position: absolute;
    bottom: 8px;
    z-index: 90999;
    background: black;
    left: 45%;
}

.btn-ver-comentarios {
    background-color: #1A2035 !important;
    color: #fff !important;
    border: none;
    border-radius: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-ver-comentarios:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}

.btn-subir-version {
    background-color: #ccdcf1 !important;
    color: #1A2035 !important;
    border: none;
    border-radius: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-subir-version:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 5rem;
}

.icon-ver-archivo{
    cursor: pointer;
    color: #007bff'
}