.recursos-cards {
    min-height: 70vh;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-modal-recursos-container{
    background-color: transparent;
    display: flex;
    align-items: center;
}

.btn-header-modal-recursos{
    border-radius: 50%;
    padding: 0.8em 0.9em;
    background-color: transparent;
    margin: 0.2rem
}

.progress-bar-recursos{
    width: 10rem; 
    height: 1rem
}

.btn-item-modal-recursos{
    border-radius: 50%;
    padding: 0.2em 0.10em;
    margin: 0.2rem
}

.modal-recursos-container-drop{
    font-size: 5em;
    border-radius: '50%';
    background-color: var(--surface-b);
    color: var(--surface-d)
}

.modal-recursos-drop{
    font-size: 1.2em;
    color: var(--text-color-secondary)
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.col-12 {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.p-4 {
    padding: 1rem;
}

.recurso-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.checkbox-recurso{
    margin-right: 3rem;
}

.text-2xl {
    font-size: 1.25rem;
}

.font-bold {
    font-weight: bold;
}

.font-semibold {
    font-weight: 600; /* Semi-negrita para la categoría */
}

.text-900 {
    color: #333;
}

/* Estilos para el Tag */
.success {
    background-color: #d4edda;
    color: #155724;
}

.danger {
    background-color: #f8d7da;
    color: #721c24;
}

.btn-descargar-recurso {
    border-radius: 50%;
    padding: 0.5rem;
    background-color: #1a2035;
}

.btn-gestionar-recurso{
    color: #425fb3;
}
