.entrega{
    position: relative; /* Define el contenedor como el punto de referencia */
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 1rem !important;
    overflow: hidden; /* Evita el desborde del contenido */
    text-align: center;
}

.entrega-titulo{
    width: 50%;
    font-size: 1.2em;
    font-weight: bold;
    color: #1E2A3D;
    margin-bottom: 2px;
}

.entrega-estado::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #4CAF50;
    border-radius: 50%;
    margin-right: 10px;
}

.entrega-estado{
    width: 50%;
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    transform: translateX(39%);
}
.entrega-fecha{
    width: 50%;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding-left: 20px;
    position: relative;
}
.entrega-vencimiento{
    width: 50%;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding-left: 20px;
    position: relative;
}
.texto-informativo {
    font-family: 'Roboto', sans-serif;
    display: inline-block;  
    font-weight: bold !important;
    font-weight: 700;
    color: #fff;
}

.crear-entrega {
    background-color: #1A2035 !important;
}

.estilo-entrega{
    border: 3px solid black;
    background-color: #A9B6CC;
}
.estilo-detalle{
    background-color: #1A2035;
    color: white;
    padding: 0.04rem;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.9em;
    position: absolute; /* Posiciona el botón de manera absoluta dentro del contenedor .entrega */
    bottom: 0; /* Alinea el botón con la parte inferior del contenedor */
    /*right: 0;  Alinea el botón con la parte derecha del contenedor */
    left: 0;
    width: 100%;
    text-align: center;
    transition: transform 0.2s ease;
    transform: scale(1.05);
    display: block;
    box-sizing: border-box;
}
.entrega-subtitulo {
    font-size: 1.2em;
    font-weight: bold;
    color: #193B70;
    margin-bottom: 10px;
}

.nombre-materia {
    font-size: 45px; /* Aumenta el tamaño del texto */
    color: #fff;
}

.recuadro-estilizado{
    border: 0.2rem solid #e7e7e7; /* Cambia el color y grosor del borde según tu preferencia */
    padding: 2rem; /* Ajusta el padding según tu necesidad */
    border-radius: 8px; /* Opcional: para bordes redondeados */
    background: transparent;
    box-shadow: 0 1px 4px #e7e7e7; /* Opcional: para una sombra sutil */
    width: 100%;
    margin: 0 auto; /* Opcional: para centrar el recuadro horizontalmente */
}
