.home-container{
    min-height: 80vh; 
    background-image: url('../../../public/utn2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;
}

.home-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Controla la opacidad*/
    z-index: 1;
}

.home-title{
    color: #fff;
    font-weight: bold; 
    font-size: 2.4rem;
    margin-bottom: 10rem;
    z-index: 2;
    text-shadow: 0 1.2px 1.2px gray; /* Opcional: para una sombra sutil */
}

.home-form{
    width: 40rem;
    text-align: center;
    z-index: 2;
}

.home-redirect{
    text-decoration: none;
}

.btn-empezar{
    background-color: #1A2035; 
    color: #fff; 
    width: 9rem;
    height: 3.2rem;
    font-size: 1.4rem;
    border: 0.1rem solid #F2F6FC;
    border-radius: 0.3rem;
}

/* Estilos de SignOut */
.register-container{
    min-height: 70vh;
    background-color: #fff;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.title-sign-up{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.p-stepper .p-stepper-header.p-highlight .p-stepper-number {
    background-color: #1A2035;
}

.p-stepper .p-stepper-separator{
    background-color: #608ad1;
}

.form-control{
    border: 0.1rem solid #608ad1 !important;
}

.btns-sign-out{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 8rem
}

.btns-second-sign-out{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem
}

.btn-cancel-sign-out{
    background-color: #ccdcf1 !important;
    color: #1A2035 !important
}

.btn-confirm-sign-out{
    background-color: #1A2035 !important;
    color: #fff !important
}

.second-register{
    align-items: center;
    background-color: #fff
}

.second-register-form{
    width: 50%;
}