.TituloRendimiento {
    color: #193B70;
    margin-bottom: 2rem;
    font:
        1.9em Georgia,
        "Bitstream Charter",
        "URW Bookman L",
        "Century Schoolbook L",
        serif;
}

.CatedraProyecto {
    border: 3px solid black;
    font: 1.2em;
    border: 2px solid #4A90E2;
    /* Borde del recuadro en color azul */
    padding: 20px;
    /* Espacio interno del recuadro */

}

.text-box {
    border: 2px solid #132438 !important;
    /* Borde del recuadro en color azul */
    padding: 20px;
    /* Espacio interno del recuadro */
    border-radius: 15px;
    /* Esquinas redondeadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    background-color: #f9f9f9;
    /* Fondo claro */
    margin: 20px 0;
    /* Espaciado alrededor del recuadro */
    font-family: 'Arial', sans-serif;
    /* Fuente */
}


.table-container .table {
    margin: 10px 15;
    /* Márgenes arriba y abajo */
    background-color: brown;
    border: 2px solid black;
    /* Bordes */

}

.contenedor-rendimiento-alumnos {
    max-width: 85%;
    margin: auto;
    padding: 2.5rem;
    box-shadow: 0px 1px 8px #00000061;
}

.containerFaltas {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* Alinea a la derecha */
    margin-bottom: 15px;
    /* Espacio debajo del recuadro */
}


.contenedor-acciones {
    border: 1px solid #000;
    margin-bottom: 1rem;
    align-items: center;

    div {
        width: 24%;

        i {
            margin-right: .5rem;
        }
    }

    .form-busqueda {
        .btn-buscar {
            color: #fff;
            background-color: #193B70;
            border-radius: 5px;
            i{
                margin: 0;
            }
        }
    }
}