.TituloRendimiento {
    color:'#193B70';
    text-shadow:
    1px 1px 2px rgb(30, 50, 120), /* Sombra ajustada */
    0 0 1em rgb(50, 70, 150),      /* Sombra ajustada */
    0 0 0.2em rgb(20, 30, 80);     /* Sombra ajustada */
  font:
    1.9em Georgia,
    "Bitstream Charter",
    "URW Bookman L",
    "Century Schoolbook L",
    serif;
}
.CatedraProyecto{
    border: 3px solid black;
    font: 1.2em;

}

div.table {
    margin: 40px 0 !important; /* Márgenes arriba y abajo */
    
}


  